-- 2026-02-24::
-- eventlog-socket does not enable control by default.
package eventlog-socket
  flags:
    +control

-- 2025-09-17:
-- influxdb-1.9.3.2 does not support GHC 9.12.
if impl(ghc >=9.12)
  allow-newer:
    , influxdb-1.9.3.2:base

-- 2025-11-17:
-- disable snappy support in grpc-spec
package grpc-spec
  flags: -snappy

-- 2025-11-25:
-- relax constraints on base for GHC 9.14
if impl(ghc >=9.14)
  allow-newer:
    , base
    , ghc-bignum
    , template-haskell

-- 2025-12-09:
-- relax constraints on base and containers for concurrent-machines.
if impl(ghc >=9.4)
  allow-newer:
    , concurrent-machines-0.3.1.5:base
    , concurrent-machines-0.3.1.5:containers
