apiVersion: 1
datasources:
  - name: Loki
    type: loki
    acess: proxy
    url: http://loki:3100
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
  - name: Tempo
    type: tempo
    access: proxy
    url: http://tempo:3200
  - name: Pyroscope
    type: grafana-pyroscope-datasource
    access: proxy
    url: http://pyroscope:4040
